body{
	background-image: url(./assets/planet.jpg)
}

h1{
	color: purple;
}

h1:hover{
	color:	white;
}


h3{
	color: blue;
}

h3:hover{
	color:yellow;
}

.space {
	width: 500px;
	float: left;
}

.box1 {
	width: 300px;
	background-color: blue;
	opacity: .3;
	height: 200px;
	border: 5px purple;
	border-radius: 20px;
	float: left;
}

.box2 {
	width: 300px;
	background-color: purple;
	opacity: .3;
	height: 200px;
	border: 5px blue;
	border-radius: 15px;
	float: right;
	margin-top: 300px;
}